/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea/
/enabled
/public/.htaccess
/public/profile
/public/userimg

/public/js/all.js
/public/js/all.js.map
/public/css/app.css
/public/css/app.css.map
