body{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #60605A;
	padding-top: 65px;
    background-color: #F1F1F1;
    height: auto;
}

.header-mb
{
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
}

.list-mb{
    padding-bottom: 8px;
    border-bottom: 1px solid #e2e2e2;
}

.list-number {
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}

.list-title {
    color: #333;
    display: inline-block;
    font-size: 13px;
    font-weight: bolder;
    line-height: 1.3em;
}

a {
    color: #777777;
    text-decoration: none;
}
a:hover{
    color: #88d2db;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.box{
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    background: #FFF;
    border-style: solid;
    border: solid 1px #333;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
    /*color: #272727;*/
    border-radius: 2px;
}


.card{
    /*display: inline-block;*/
    vertical-align: top;
    position: relative;
    overflow: hidden;
    background: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /*color: #272727;*/
    border-radius: 2px;
}

.circle_btn {
    padding: 5px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
    /* width and height can be anything, as long as they're equal */
}

.white_bg{
    background: #ffffff;
}

.bottom_border{
    /*border-style: solid;*/
    border-bottom: solid 1px #fefefe;
    padding-bottom: 8px;
}

.borderless:focus{
    background: #f9f9f9;
}
.borderless{
    border: 0;
    outline: 0;
    background: transparent;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-image: none;
    border-radius: .25rem;
    border-bottom: 1px solid #ccc;
    /*width: 20px;*/
}

.borderBtm{
    border-bottom: 1px solid #ccc;
    margin-top: 25px;
    margin-bottom: 25px;

}

.btn-circle:hover
{
    border-bottom: 2px solid #f9f9f9;
}
.btn-circle:active, .btn-circle.active
{

    background-size: cover;
    background-image: url('/img/circle.gif');
}


.wrapper {
    background:#EFEFEF;
    box-shadow: 1px 1px 10px #999;
    margin: auto;
    text-align: center;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px !important;
    width: 800px;
    padding-top: 5px;
}
.scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    height: auto;
    white-space:nowrap
}
.scroll-container{
    margin: 2px;
    max-width: 200px;
    cursor: pointer;
    display:inline-block;
    *display:inline;
    *zoom:1;
    /*vertical-align:top;*/
}

.boxPadding{
    padding:8px;
    margin-bottom: 6px;
}


.color_f59{
    color: #F5918E;
}
.color_606{
    color: #60605A;
}