<div class="row" ng-controller="goalSummary" style="margin: auto">



    <div ng-repeat="t in travelGoals">


        <div class="col-xs-12 col-sm-4">
            <div class="card card-block">
                <h4 class="card-title"><i class="fa fa-plane fa-x"></i> {{ t.where_to }}</h4>
                <p class="card-text">Going there {{ t.month }} {{ t.year }}</p>
                <a href="#" class="card-link"><i class="fa fa-trash fa-2x"></i> Delete</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>


    </div>

    <div ng-repeat="t in userTargets">

        <div class="col-xs-12 col-sm-4">
            <div class="card card-block">
                <h4 class="card-title"><i class="fa fa-gift fa-x"></i> {{ t.name }}</h4>
                <p class="card-text">Price {{ t.price }} Duration {{ t.duration }}</p>
                <a href="#" class="card-link"><i class="fa fa-trash fa-2x"></i> Delete</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

    </div>

</div>