<div class="card card-block" ng-controller="profileEdit">
    <h4 class="card-title">Edit</h4>

    <div class="container-fluid">

        <!-- User Info-->
        <div class="col-xs-12 col-sm-6">

            <div class="row">

                <div class="col-xs-12 col-sm-6">
                    <input type="text" value="{{ userData.firstname  }}" class="form-control borderless" placeholder="First name" id="editFirstname" required>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <input type="text" value="{{ userData.lastname  }}" class="form-control borderless" placeholder="Last name" id="editLastname" required>
                </div>

                <input type="text" value="{{ userData.email  }}" class="form-control borderless" placeholder="Email" id="editEmail" required>

                <div class="col-xs-12">
                    <div class="btn-group lead" data-toggle="buttons">

                        <select id="currencySelect" ng-model="ng_currency"
                                ng-options="c as currency.currency_code for currency in currencies">
                                <pre>{{ng_currency | json}}</pre>
                        </select>

                        <select id="jobtype">
                            <option ng-repeat="x in items" value="@{{ x.id }}">{{ x.name}}</option>
                        </select>

                    </div>
                </div>
            </div>

        </div>

        <!-- Finance info-->
        <div class="col-xs-12 col-sm-6">

            <div class="row">

                <div class="col-xs-12">
                    <small><label>Monthly Income</label></small>
                    <input class="form-control borderless" ng-model="ng_mthlyIncome"  ng-class="{currency: ''}" id="editMonthlyIncome">
                </div>

                <div class="col-xs-12">
                    <small><label> <b> - </b> Monthly Bill</label></small>
                        <input class="form-control borderless" ng-model="ng_mthlyBill" id="editMonthlyBill">
                </div>

                <div class="col-xs-12">
                    <small><label> <b> - </b> Monthly Saving</label></small>
                    <input class="form-control borderless" ng-model="ng_mthlySaving" id="editMonthlySaving">
                </div>

                <div class="container-fluid">
                    <small><label> <b> = </b> Monthly Spendable</label></small>
                    <h3>
                        <span id="editMonthlySpendable">{{ (ng_mthlyIncome - ng_mthlyBill - ng_mthlySaving) }}</span>
                    </h3>
                    <hr>
                </div>

            </div>


            <!-- Daily saving and spendable -->
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <label>Day Saving</label>
                    <span id="editDaySaving">{{ ng_mthlySaving/30 | currency: '' }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label>Day Spendable</label>
                    <span id="editDaySpendable">{{ (ng_mthlyIncome - ng_mthlyBill - ng_mthlySaving )/30 | currency: ''}}</span>

                </div>
            </div>
        <div>

        <button class="btn btn-default btn-block" ng-click="saveInfo()">Save</button>

        </div>
    </div>

</div>