<div class="card card-block" ng-controller="transactionListController" ng-app="App">

    <h4 class="card-title strong">Transactions</h4>

    <!--<ul class="list-group" ng-repeat="t in listData">-->
        <!--<li class="list-group-item">{{t.trans_date}}&emsp;&emsp;|&emsp;&emsp;You spent {{t.currency[0].currency_sym}}{{t.amount}} on {{t.cate_obj[0].name}} at {{t.location}}</li>-->
    <!--</ul>-->


    <!--<ul class="nav nav-stacked" id="accordion1" ng-repeat="t in listData">-->
        <!--<li class="panel"> <a data-toggle="collapse" >-->
            <!--{{t.trans_date}}&emsp;&emsp;|&emsp;&emsp;You spent {{t.currency[0].currency_sym}}{{t.amount}} on {{t.cate_obj[0].name}} at {{t.location}}-->
        <!--</a>-->

            <!--<ul class="collapse">-->
                <!--<li>{{t}}</li>-->
            <!--</ul>-->

        <!--</li>-->
    <!--</ul>-->
        <div class="accordion" id="accordion2">
            <div class="list-group" ng-repeat="t in listData">
                <hr>
                <ul class="accordion-heading">
                            <!--<div id="circle"> &nbsp;</div>-->

                            <span class="fa-stack fa-pull-left" style="margin-top: -5px;">
                                <!--<i class="fa fa-circle-o fa-stack-2x"></i>-->
                                <i class="{{getCateIcon(t.cate_id)}} fa-stack-1x"></i>
                            </span>
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-target="#collapse{{$index}}"
                               aria-expanded="true" aria-controls="#collapse{{$index}}">
                                &emsp;&emsp;You spent {{t.currency[0].currency_sym}}{{t.amount}} on {{t.cate_obj[0].name}} at {{t.location}}
                            </a>
                            <small><i class="{{propertyIcons('datetime')}}"></i>&emsp;|&emsp;{{t.trans_date}}</small>


                        <li id="collapse{{$index}}" class="accordion-inner collapse in">
                            <!--<div class="accordion-inner">-->
                                <small> <i class="{{getTransTypeIcon(t.trans_type)}}"></i> {{t.trans_type_obj[0].name}} &emsp;&emsp;|&emsp;&emsp;
                                    <i class="{{getPmtIcon(t.pmt_type)}}"></i> {{t.pmt_type_obj[0].name}} &emsp;&emsp;|&emsp;&emsp;
                                    Recurring: {{t.trans_repeat_obj[0].name}}&emsp;&emsp;|&emsp;&emsp;
                                    Added on: {{t.created_at}} </small>
                            <!--</div>-->
                        </li>
                </ul>
            </div>
        </div>
</div>


<script>
    $(document).ready(function(){
        $(".accordion-inner").collapse('toggle');

//        $('.accordion-body.in').collapse('toggle');
    });

//    var content = document.querySelectorAll("#color");
//    content.style.background_color = "#080808";
</script>

<style type="text/css">
    #circle {
        width: 50px;
        height: 50px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 50%;
        background-color: #080808;
    }

</style>
