<div class="container" ng-controller="transactionController">
    <form class="transaction">

        <div class="btn-group btn-block" data-toggle="buttons" >
            <label class="btn btn-info" ng-repeat="p in pmtTypes"
                   ng-class="{'active':p.id == $parent.defaultPmtType}" ng-click="pmtSelected(p.id)">
                <input type="radio" ng-model="$parent.selectedPmtType" ng-value="p.id">
                {{p.name}}
            </label>
        </div>

        <div class="btn-group btn-block" data-toggle="buttons">
            <label class="btn btn-info" ng-repeat="t in transTypes track by t.id" id="trans_type"
                   ng-class="{'active':t.id == $parent.defaultTransType}" ng-click="transSelected(t.id)">
                <input type="radio"ng-model="selectedTransType" ng-value="t.id">
                {{t.name}}
            </label>
        </div>

        <p>
            <input type="date" ng-model="trans_date" id="trans_date" class="input input-md form-control" value>
        </p>

        <p>
            <select id="cate_id" name="cate_id" class="btn btn-secondary btn-block dropdown-toggle" style="line-height: 38px; height: 38px;"
                    ng-model="cate_id"  ng-options="cate.name for cate in cateCore track by cate.id">
                <option value="">Select Category</option>
            </select>
        </p>

        <p>

            <select id="trans_repeat" name=trans_repeat" class="btn btn-secondary btn-block dropdown-toggle" style="line-height: 38px; height: 38px;"
                    ng-model="trans_repeat"  ng-options="repeat.name for repeat in transRepeat track by repeat.id">
                <option value="">How Frequent</option>
            </select>
        </p>

        <p>
            <input id="amount" type="number" ng-model="amount" placeholder="Amount" class="input input-md form-control">
        </p>

        <p>
            <input id="location" type="text" ng-model="location" placeholder="Location" class="input input-md form-control">
        </p>

        <p>
            <input id="note" type="text" ng-model="note" placeholder="Note" class="input input-md form-control">
        </p>

        <button type="button" class="btn btn-default btn-sm pull-left" ng-click="backAddTransaction()"><i class="fa fa-arrow-left fa"></i> back</button>
        <button ng-click="doAdd()" class="btn btn-info btn-sm pull-right">+ Add</button>

    </form>
</div>
