<div class="container-fluid">
    <div style="position: absolute;z-index: 100;right: 0;" class="col-xs-4 hidden-sm-down"
         ng-include="'/app/spendable/tpl_overview.html'"></div>

    <div style="margin-top: 20px">&nbsp;</div>


    <div class="row card card-block">

        <div class="col-xs-12 col-sm-8">

            <div style="position: relative;" class="row">
                <span class="lead">{{date | date:'dd MMM yyyy'}}</span>
                <div style="width: 100%; height: 10px; position: absolute;
                                                    top: 50%; left: 0; margin-top: -40px;
                                                    line-height:19px; text-align: center;
                                                    z-index: 99">

                    <div class="text-center">
                        <small>
                            <h6>Spendable</h6>
                        </small>
                    </div>

                    <h4>
                        <strong>
                        {{ userData.d_spendable}}
                        </strong>
                    </h4>

                    <div class="text-center">
                        <small>

                            from {{ userData.d_spendable}}

                        </small>
                    </div>

                </div>

                <canvas
                        class="chart chart-doughnut"
                        chart-data="spendableDough.data"
                        chart-labels="spendableDough.labels"
                        chart-colours="spendableDough.colours"
                        chart-options="spendableDough.option"></canvas>
            </div>
            <div class="text-center ">
                <a href="#" class="lead" ng-click="nav(templates[3].url)"> <i class="ion-plus-circled"></i> Add transaction</a>
            </div>

        </div>

        <div class="row col-xs-12 col-sm-4 hidden-md-up">
            <div ng-include="'/app/spendable/tpl_overview.html'"></div>
        </div>


        <!-- Goal -->
        <div class="page page-home" ng-include="'/app/goal/tpl_goal.html'">i'm loading</div>


        <div class="row borderBtm">
            <div class="col-xs-12 col-sm-4">
                <span>{{ date | date:'MMMM yyyy' }}</span>
                <div class="pull-right">
                    <small>
                        <a a href="#">
                            <i class="fa fa-cog"></i></a>
                    </small>
                </div>

                <div class="center-block clearfix">
                    <div class="pull-left text-center">
                        <div class="text-success">
                            <small>
                                <strong>1000</strong>
                            </small>
                        </div>
                    </div>
                    <div class="center-block pull-right">
                        <div class="text-muted">
                            <small>
                                <strong> -1000</strong>
                            </small>
                        </div>
                    </div>
                </div>

                <progress class="progress progress-success" value="25" max="100"></progress>

                <span>Spending Categories</span>
                <progress class="progress progress-success" value="25" max="100"></progress>

                <span>Spending Categories</span>
                <progress class="progress progress-success" value="25" max="100"></progress>

                <span>Spending Categories</span>
                <progress class="progress progress-success" value="25" max="100"></progress>


            </div>
            <div class="col-xs-12 col-sm-8" ng-controller="spendableChartController">
                <spendable-chart></spendable-chart>
            </div>
        </div>

    <!--Progress bar-->
    <div class="row list-mb">

        <div class="col-xs-12 col-sm-6">
            <div class="clearfix">

                <span class="lead">Upcoming bill</span>

                <div class="pull-right">
                    <small>
                        <a href="#" ng-click="nav(templates[4].url)">
                            <i class="fa fa-info-circle"></i></a>
                    </small>
                </div>

                <div class="clearfix" ng-repeat="bill in upComing">

                    <div class="pull-left text-center">

                        <div>
                            <span class="text-muted"> {{ date | date:'MMM'}}</span>
                        </div>
                        <div>
                            {{ bill.due_date }}
                        </div>
                    </div>

                    <div class="center-block pull-right text-muted">
                        <span>{{ bill.amount | number: 2}}</span>
                        <br>
                        <span class="list-title" style="">
                            <a href="#">{{ bill.name }}</a>
                        </span>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">

            <span class="lead">Credit cards</span>
            <div class="pull-right">
                <small>
                    <a href="#" ng-click="nav(templates[5].url)">
                        <i class="fa fa-info-circle"></i></a>
                </small>
            </div>
            <div ng-controller="CardController">
                <card-list></card-list>
            </div>
        </div>



    </div>



</div>

<script>

    $("#addTransaction").click(function(){
        $("#spendableOverview").hide();
        $("#spendableContainer").load('/app/html/card_addTransaction.html');
    });

</script>