<div class="clearfix" ng-repeat="card in userCards">

    <div class="pull-left text-center">

        <div>
            <span class="text-muted"> {{ date | date:'MMM'}}</span>
        </div>
        <div>
            {{ card.due_date }}
        </div>
    </div>

    <div class="center-block pull-right text-muted">


        <span class="list-title" style="">
            {{ card.type_name }}
        </span>

        <span class="list-title" style="">
            {{ card.issuer_name }}
            <span>
                <br>
                {{ card.exp_mth }}
                {{ card.exp_year }}
            </span>
        </span>


        <progress class="progress progress-success" value="200" max="{{ card.cc_limit }} "></progress>
    </div>

    <div class="row" ng-show="false">
        <a href="#" ng-click="showAdvanced($event,card)" class="pull-right">
            <i class="fa fa-edit"></i>
        </a>
        <a href="#" ng-click="removeCard(card.id)" class="pull-right">
            <i class="fa fa-trash"></i>
        </a>
    </div>

</div>