<div class="clearfix" ng-repeat="card in userCards">

    <div class="center-block col-xs-12 col-sm-3">

        <div>
            <span class="text-muted"> {{ date | date:'MMM'}}</span>
        </div>
        <div>
            {{ card.due_date }}
        </div>
    </div>

    <div class="center-block col-xs-12 col-sm-9">
        <a href="#" ng-click="showAdvanced($event,card)" class="pull-right">
            <i class="fa fa-edit"></i>
        </a>
        <a href="#" ng-click="removeCard(card.id)" class="pull-right">
            <i class="fa fa-trash"></i>
        </a>

        <div class="pull-right">{{ card.type_name }} </div>

        <span>{{ card.issuer_name }}</span>

        <div class="clearfix">
            <span class="pull-right">200/{{ card.cc_limit }}</span>

        </div>
        <progress class="progress progress-success" value="200" max="{{ card.cc_limit }} "></progress>
    </div>

</div>